<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.group6.dulichdoday">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/key_map" />

        <activity
            android:name=".MainLayoutActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".DetailTourActivity" />
        <activity android:name=".DetailPersonalActivity" />
        <activity android:name=".PasswordActivity" />
        <activity android:name=".BusinessActivity" />
        <activity android:name=".DetailBusinessActivity" />
        <activity android:name=".UpdateInforBusinessActivity" />
        <activity android:name=".ManagerTourActivity" />
        <activity android:name=".AddPlaceActivity" />
        <activity android:name=".EditPlaceActivity" />
        <activity android:name=".TourListActivity" />
        <activity android:name=".UpdateInforActivity"></activity>
        <activity android:name=".ManagerBookingTourActivity" />
        <activity android:name=".BookTour" />
        <activity android:name=".Dialog_Change"></activity>
    </application>

</manifest>